alembic==1.4.3
amqp==2.6.1
anyio==3.3.0
apache-airflow==2.1.3
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-postgres==2.2.0
apache-airflow-providers-slack==4.0.1
apache-airflow-providers-sqlite==2.0.1
apispec==3.3.2
argcomplete==1.12.1
attrs==20.3.0
Babel==2.9.0
billiard==3.6.4.0
black==21.8b0
blinker==1.4
boto3==1.18.36
botocore==1.21.36
cached-property==1.5.2
cattrs
celery==4.4.7
certifi==2020.11.8
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.4
click==8.0.1
clickclick==20.10.2
colorama==0.4.4
colorlog==4.0.2
commonmark==0.9.1
configparser==3.5.3
croniter==0.3.36
cryptography==3.4.8
defusedxml==0.6.0
dill==0.3.3
dnspython==1.16.0
docutils==0.16
email-validator==1.1.2
Flask==1.1.2
Flask-Admin==1.5.4
Flask-AppBuilder==3.3.2
Flask-Babel==1.0.0
Flask-Caching==1.10.1
Flask-JWT-Extended==3.25.0
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.4
flask-swagger==0.2.14
Flask-WTF==0.14.3
flower==0.9.7
funcsigs==1.0.2
future==0.18.2
graphviz==0.14.2
greenlet==1.1.1
gunicorn==20.0.4
h11==0.12.0
httpcore==0.13.6
httpx==0.19.0
humanize==3.11.0
idna==2.10
importlib-metadata
importlib-resources==1.5.0
inflection==0.5.1
iso8601==0.1.13
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
json-merge-patch==0.2
jsonschema==3.2.0
kombu==4.6.11
lazy-object-proxy==1.5.1
lockfile==0.12.2
Mako==1.1.3
Markdown==2.6.11
MarkupSafe==1.1.1
marshmallow==3.13.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.23.1
mypy-extensions==0.4.3
natsort==7.0.1
numpy==1.19.4
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.1
packaging==20.4
pandas==1.1.4
pathspec==0.9.0
pendulum==2.1.2
Pillow==8.3.2
platformdirs==2.3.0
prison==0.1.3
prometheus-client==0.8.0
psutil==5.8.0
psycopg2-binary==2.9.1
pycparser==2.20
Pygments==2.7.2
PyJWT==1.7.1
pyparsing==2.4.7
pyrsistent==0.18.0
python-daemon==2.3.0
python-dateutil==2.8.1
python-editor==1.0.4
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2020.4
pytzdata==2020.1
PyYAML==5.3.1
regex==2021.8.28
requests==2.26.0
rfc3986==1.5.0
rich==10.9.0
s3transfer==0.5.0
selenium==3.141.0
setproctitle==1.2.2
six==1.15.0
slack-sdk==3.10.1
sniffio==1.2.0
SQLAlchemy==1.3.20
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.36.8
swagger-ui-bundle==0.0.8
tabulate==0.8.9
tenacity==6.2.0
termcolor==1.1.0
text-unidecode==1.3
tomli==1.2.1
tornado==6.1
typing-extensions==3.10.0.2
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.26.6
vine==1.3.0
Werkzeug==1.0.1
WTForms==2.3.3
zipp==3.5.0
alembic==1.4.3
amqp==2.6.1
anyio==3.3.0
apache-airflow==2.1.3
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-postgres==2.2.0
apache-airflow-providers-slack==4.0.1
apache-airflow-providers-sqlite==2.0.1
apispec==3.3.2
argcomplete==1.12.1
attrs==20.3.0
Babel==2.9.0
billiard==3.6.4.0
black==21.8b0
blinker==1.4
boto3==1.18.36
botocore==1.21.36
cached-property==1.5.2
cattrs
celery==4.4.7
certifi==2020.11.8
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.4
click==8.0.1
clickclick==20.10.2
colorama==0.4.4
colorlog==4.0.2
commonmark==0.9.1
configparser==3.5.3
croniter==0.3.36
cryptography==3.4.8
defusedxml==0.6.0
dill==0.3.3
dnspython==1.16.0
docutils==0.16
email-validator==1.1.2
Flask==1.1.2
Flask-Admin==1.5.4
Flask-AppBuilder==3.3.2
Flask-Babel==1.0.0
Flask-Caching==1.10.1
Flask-JWT-Extended==3.25.0
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.4
flask-swagger==0.2.14
Flask-WTF==0.14.3
flower==0.9.7
funcsigs==1.0.2
future==0.18.2
graphviz==0.14.2
greenlet==1.1.1
gunicorn==20.0.4
h11==0.12.0
httpcore==0.13.6
httpx==0.19.0
humanize==3.11.0
idna==2.10
importlib-metadata==4.8.1
importlib-resources==1.5.0
inflection==0.5.1
iso8601==0.1.13
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
json-merge-patch==0.2
jsonschema==3.2.0
kombu==4.6.11
lazy-object-proxy==1.5.1
lockfile==0.12.2
Mako==1.1.3
Markdown==2.6.11
MarkupSafe==1.1.1
marshmallow==3.13.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.23.1
mypy-extensions==0.4.3
natsort==7.0.1
numpy==1.19.4
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.1
packaging==20.4
pandas==1.1.4
pathspec==0.9.0
pendulum==2.1.2
Pillow==8.3.2
platformdirs==2.3.0
prison==0.1.3
prometheus-client==0.8.0
psutil==5.8.0
psycopg2-binary==2.9.1
pycparser==2.20
Pygments==2.7.2
PyJWT==1.7.1
pyparsing==2.4.7
pyrsistent==0.18.0
python-daemon==2.3.0
python-dateutil==2.8.1
python-decouple==3.4
python-editor==1.0.4
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2020.4
pytzdata==2020.1
PyYAML==5.3.1
regex==2021.8.28
requests==2.26.0
rfc3986==1.5.0
rich==10.9.0
s3transfer==0.5.0
selenium==3.141.0
setproctitle==1.2.2
six==1.15.0
slack-sdk==3.10.1
sniffio==1.2.0
SQLAlchemy==1.3.20
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.36.8
swagger-ui-bundle==0.0.8
tabulate==0.8.9
tenacity==6.2.0
termcolor==1.1.0
text-unidecode==1.3
tomli==1.2.1
tornado==6.1
typing-extensions==3.10.0.2
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.26.6
vine==1.3.0
Werkzeug==1.0.1
WTForms==2.3.3
zipp==3.5.0
